@font-face {
  font-family: "Hermes";
  src: url(./font/Mogul\ Hermes.ttf);
}
@font-face {
  font-family: "Magistral";
  src: url(./font/Mogul\ Magistral.ttf);
}
@font-face {
  font-family: "Magistral";
  src: url(./font/Mogul\ Magistral\ Bold.ttf);
  font-weight: bold;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Magistral";
  overflow-x: hidden;
}

html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 166, 0, 0.8);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
  font-weight: bold;
}

.swiper-button-next {
  right: 5vw !important;
}

.swiper-button-prev {
  left: 5vw !important;
}

.swiper-pagination-bullet {
  width: 40px !important;
  border-radius: 3px !important;
  background: #fff !important;
  opacity: 0.7 !important;
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 166, 0) !important;
  opacity: 1 !important;
}
@media (max-width: 960px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 14px !important;
  }
  .swiper-pagination-bullet {
    outline: none !important;
    width: 30px !important;
    height: 4px !important;
    border-radius: 3px !important;
  }
}

.talk_post h1 {
  color: rgb(117, 117, 117);
  font-weight: 100;
  margin: 0;
}
.talk_post p {
  color: rgb(117, 117, 117);
  display: flex;
  align-items: center;
}
.talk_post p svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.talk_post a svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.talk_post a {
  margin-right: 24px;
  display: flex;
  align-items: center;
  color: #cd6dcc;
}
.talk_post a i {
  margin-right: 6px;
}

/*COMMENT*/
.comment {
  color: rgb(117, 117, 117);
}

.comment p {
  margin: 0 0 12px 0;
  font-size: 14px;
}

.comment h3 {
  color: rgb(255, 166, 0);
}

.comment_input {
  display: flex;
}
.comment_input i {
  background-color: rgb(255, 166, 0);
  border-radius: 50%;
  margin-right: 24px;
  color: rgba(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 5px;
  width: 35px;
  height: 35px;
}
.comment_input .input {
  display: flex;
  width: auto;
}
.comment_input input {
  border: 1px solid rgb(255, 166, 0);
  outline: none;
  padding: 12px 12px;
  width: 100%;
}
.comment_input button {
  background-color: rgb(255, 166, 0);
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  width: 150px;
  outline: none;
  cursor: pointer;
}
.comment_input button:hover {
  background-color: transparent;
  color: rgb(255, 166, 0);
  border-top: 1px solid rgb(255, 166, 0);
  border-right: 1px solid rgb(255, 166, 0);
  border-bottom: 1px solid rgb(255, 166, 0);
}

.workplace p {
  font-size: 14px;
}

.workplace h3 {
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 0;
}

.workplace h3:first-child {
  margin-top: 12px;
}
#nprogress .bar {
  background: orange !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px orange, 0 0 5px orange !important;
}

#nprogress .spinner-icon {
  border-top-color: orange !important;
  border-left-color: orange !important;
  color: orange !important;
}

.clicked {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}
.clicked_red {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}
.end_button {
  width: 100%;
  background-color: orange;
  color: white;
  border: 0;
  padding: 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 36px;
}
.test_bottom {
  padding: 36px 0;
  display: flex;
  align-content: center;
  width: 100%;
}
.test_bottom a {
  width: 200px;
  background-color: orange;
  color: white;
  border: 0;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.test_text {
  padding: 12px 16px;
  width: auto;
  color: rgb(153, 204, 51);
  border-radius: 10px;
  border: 1px solid rgb(153, 204, 51);
  margin: 0 6px;
}
.test_result {
  background-color: orange;
  border-radius: 5px;
  padding: 8px 0;
  width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}

.editer_style {
  color: rgb(117, 117, 117) !important;
  font-family: "Magistral" !important;
  line-height: 25px;
  text-align: justify;
}
.editer_style p {
  padding-right: 0 !important;
}
